
/*---------------TAG-----------------*/
body{
    margin: 0;
    width: 100%;
    font-family: Candara, serif;
}

h1{
    margin: 0;
}

nav{
    height: 11vh;
    color: black;
    font-size: 24px;
    border-bottom-style: outset;
    border-color: black;
    border-width: 2px;
    font-family: Candara, serif;
}


section{
    height: 160vh;
    background-color:darkgray;

}


footer{
    height: 10vh;
    background-color: burlywood;
}

button{
    font-size: 20px;
    border-radius: 8px;
}

nav div div{
    position: relative;
    top: 2vh;
    margin-left: 3%;
    margin-right: 3%;
    }

nav div a{
    position: relative;
    top: 0.4vh;
    margin-left: 3%;
    margin-right: 3%;
    }

a{
    text-decoration: none;
}

li{
    list-style-type:circle;
}

p{
    line-height: 1.6em;
}




/*---------------ID-----------------*/





/*---------------CLASS-----------------*/

.navigasi{
    display: flex;
    flex-direction: row;
}

.navigasi2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 34vh;
    align-content: flex-start;
}

.navigasi3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 15vh;
    align-content: flex-start;
}

.navigasiImage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigasiKomponen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center {
    position: relative;
    top: 4vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    height: 60vh;
    border-radius: 15px;
  }

.center_visualisasi {
    position: relative;
    top: 6vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    height: 80vh;
    border-radius: 15px;
  }

.center_detail {
    position: relative;
    top: 4vh;
    border: 2px solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 46%;
    height: 76vh;
    border-radius: 7px;
  }


.centerbutton {
    border: solid 2px;
    color: white;
    border-color: black;
    font-size: 20px;
    position: relative;
    display: block;
    margin-left: 6%;
    margin-right: auto;
    width: auto;
    transition-duration: 0.4s;
    padding: 12px 20px;
    
  }

.centerbutton:hover {
    border-color: black;
    background-color: grey;
    color: white;
  }


.centerimage {
    position: relative;
    border: 2px solid;
    border-color: black;
    top: 2vh;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    height: 47vh;
  }

.centerprovinsi {
    margin-top: 10px;
    position: relative;
    top: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 20vh ;
    border-radius: 12px;
  }


.centerrumah {
    margin-top: 10px;
    position: relative;
    top: 4vh;
    display: block;
    margin-left: 15px;
    margin-right: 10px;
    width: 90%;
    height: 30vh ;
    border-radius: 8px;

  }

.centerrumahfromkomponen {
    margin-top: 2px;
    position: relative;
    top: 4vh;
    display: block;
    margin-left: 15px;
    margin-right: 10px;
    width: 94%;
    height: 14vh ;
    border-radius: 8px;

  }

.search{
    position: relative;
    left: 51%;
    bottom: 3px;
}

.visualisasi{
    position: relative;
    left: 50% ;
}

.ornamen{
    position: relative;
    left: 45% ;
}

.provinsi{
    position: relative;
    left: 35% ;
}

.home{
    position: relative;
    left: 25% ;
}

.deskripsi{
    text-align: justify;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 120px;
    font-size: 18px;
    font-family: Candara, serif;
    
}

.deskripsirumah{
    text-align: justify;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 120px;
    font-size: 18px;
    font-family: Candara, serif;
    
}


.deskripsiragamhias{
    text-align: justify;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 70px;
    font-size: 17px;
    font-family: Candara, serif;
}

.deskripsiupacaraadat{
    text-align: justify;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 70px;
    font-size: 15px;
    font-family: Candara, serif;
}

.deskripsikomponen{
    text-align: justify;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 70px;
    font-size: 12px;
    font-family: Candara, serif;
}

.deskripsi2{
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 120px;
    font-size: 15px;
    font-family: Candara, serif;
    
}

.borderbawah{
    border-bottom-style: outset;
    border-color: black;
    border-width: 2px;
}

.deskripsi_center{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'Lucida Sans';
}

.deskripsi_komponen{
    text-align: center;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 10px;
    font-family: 'Lucida Sans';
}

.footer_home{
    position: relative;
    top: 3vh;
    left: 40%;
    font-size: 20px;
    font-family: 'Lucida Sans';
}

.judul_home{
    position: relative;
    top: 2vh;
    left: 39%;
    font-size: 30px;
    font-family: Candara, serif;
}

.judul_visualisasi{
    text-align: center;
    position: relative;
    top: 2vh;
    left: 35%;
    font-size: 28px;
    font-family: Candara, serif;
}

.judul_rumah{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    font-family: Candara, serif;
}

.deskripsi_ruang{
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans';
}



.content1{
    border-bottom-style: outset;
    border-color: black;
    border-width: 2px;
}

.content2{
    width: 50%;
}

.content3{
    width: 25%;
}

.content4{
    width: 10%;
}

.searchHome{
    top:0px; 
    margin:0;
    line-height:0.5;
}

